
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div>
            <button type="button" onclick="window.location.href='@Url.Action("CheckCookie", "User")'"> Welcome </button> 
    </div>
</body>
</html>
