
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>GetDetails</title>
</head>
<body>
    <div>
        <h1>Random Heading</h1>
        <p>This is a random heading with a button below to navigate back.</p>
        <p><a href="@Url.Action("Welcome", "Session")">Back</a></p>

    </div>
</body>
</html>
